.display-Palette {
  position: relative;

  z-index: var(--Z-INDEX-10);
  cursor: pointer;
}

.color-div {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.color-div:hover {
  border: 1px solid black;
}

.palette-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  width: 16rem;
  border: 1px solid var(--PRIMARY-COLOR);
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--BACKGROUND-COLOR);

  position: absolute;
  bottom: -11.5rem;
  left: 10%;
}
