.display-notes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  width: 45%;
  position: relative;
  box-shadow: 0 3px 5px rgb(43 43 43 / 21%);
  padding: 2rem;
  min-height: 15rem;
}

.display-notes-text > * {
  margin-bottom: 2rem;
  word-wrap: break-word;
}

.display-date {
  color: var(--PRIMARY-COLOR);
  font-size: 1rem;
}

.labels {
  background-color: var(--SECONDARY-COLOR);
  color: var(--BACKGROUND-COLOR);
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 1rem;
}

.priority {
  background-color: var(--PRIMARY-COLOR);
  color: var(--BACKGROUND-COLOR);
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 1rem;
}

.display-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-cta-section {
  display: flex;
  align-items: center;
}

.display-cta-section > button {
  background-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .display-notes {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .display-notes {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .display-notes {
    width: 100%;
  }
}