ul {
  list-style: none;
}

.sidebar {
  padding: 5rem 2rem 2rem 2rem;
  width: 25rem;
  background-color: var(--SIDE-NAVBAR-COLOR);
  box-shadow: 1px 1px 7px 3px rgb(128 128 128 / 20%);
  min-height: calc(100vh - 16rem);
}

.sidebar-list {
  position: sticky;
  top: 9rem;
  left: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: var(--SECONDARY-COLOR) !important;
  color: var(--BACKGROUND-COLOR);
}

.sidebar-item:hover {
  color: var(--SECONDARY-COLOR);
}

.active:hover {
  color: var(--BACKGROUND-COLOR);
}


@media only screen and (max-width: 768px) {
  .sidebar-responsive-hide {
    display: none;
  }
  
  .sidebar-responsive-show {
    display: flex;
    position: fixed;
    top: 7rem;
    left: 0;
    z-index: var(--Z-INDEX-20);
  }
}

@media only screen and (max-width: 500px) {
  .sidebar {
    width: 20rem;
    min-height: calc(100vh - 8rem);
  }

}