@import url("https://jodd-component-css.netlify.app/main.css");

:root {
  --SIDE-NAVBAR-COLOR: #e5e7eb;
  --Z-INDEX-10: 10;
  --Z-INDEX-20: 20;
  --Z-INDEX-30: 30;
}

.flex-1 {
  flex-grow: 1;
}

a {
  color: var(--PRIMARY-COLOR);
}
